<!DOCTYPE html>
<html>
    <head>
        <title> ChatBot </title>
         <!-- Compiled and minified CSS -->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>-->
  <!-- Compiled and minified JavaScript -->
  <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  -->
  <style>
     .container{
         display: flex;
     }
     .side1, .side2{
         flex: 1;
     }
  </style>
    </head>
    <body>
       
        <div class='container'>
            <div class='side1'>
                
            </div>
            <div class='side2'>
                
            </div>
        </div>
        
    </body>
</html>